In [89]:
import numpy as np
import pandas as pd
from scipy.stats import f_oneway
import scipy.stats as stats

In [6]:
df= pd.read_csv('E:/DATA SCIENCE/CODES and DOCS/DOCS/Sales_data_zone_wise.csv')
df.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Month     29 non-null     object
 1   Zone - A  29 non-null     int64
 2   Zone - B  29 non-null     int64
 3   Zone - C  29 non-null     int64
 4   Zone - D  29 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

In [8]:
df.isna().sum()

Month       0
Zone - A    0
Zone - B    0
Zone - C    0
Zone - D    0
dtype: int64

In [ ]:
#There is no null values in the data set

In [11]:
des=df.describe()
des

           Zone - A      Zone - B      Zone - C      Zone - D
count  2.900000e+01  2.900000e+01  2.900000e+01  2.900000e+01
mean   1.540493e+06  1.755560e+06  1.772871e+06  1.842927e+06
std    2.619401e+05  1.683899e+05  3.331937e+05  3.750165e+05
min    1.128185e+06  1.527574e+06  1.237722e+06  1.234311e+06
25%    1.305972e+06  1.606010e+06  1.523308e+06  1.520406e+06
50%    1.534390e+06  1.740365e+06  1.767047e+06  1.854412e+06
75%    1.820196e+06  1.875658e+06  2.098463e+06  2.180416e+06
max    2.004480e+06  2.091194e+06  2.290580e+06  2.364132e+06

In [14]:
df.columns

Index(['Month', 'Zone - A', 'Zone - B', 'Zone - C', 'Zone - D'], dtype='object')

# ●	The mean sales generated by each zone

In [22]:
print('mean sales generated by Zone A =', df['Zone - A'].mean())
print('mean sales generated by Zone B =',df['Zone - B'].mean())
print('mean sales generated by Zone C =',df['Zone - C'].mean())
print('mean sales generated by Zone D =',df['Zone - D'].mean())

mean sales generated by Zone A = 1540493.1379310344
mean sales generated by Zone B = 1755559.5862068965
mean sales generated by Zone C = 1772871.0344827587
mean sales generated by Zone D = 1842926.7586206896

# ●	Total sales generated by all the zones for each month.

In [50]:
col=list(df)
col

['Month', 'Zone - A', 'Zone - B', 'Zone - C', 'Zone - D']

In [51]:
col.remove("Month")

In [52]:
print(col)

['Zone - A', 'Zone - B', 'Zone - C', 'Zone - D']

In [56]:
sum1=df[col].sum(axis=1)

In [62]:
print('Sum of sales for each month for all zones\n')
i=1
for x in sum1:
    print('Month',i,'=',x)
    i=i+1

Sum of sales for each month for all zones

Month 1 = 7022544
Month 2 = 7152303
Month 3 = 6475939
Month 4 = 8174449
Month 5 = 5995328
Month 6 = 7151387
Month 7 = 7287108
Month 8 = 7816299
Month 9 = 6703395
Month 10 = 7128210
Month 11 = 7032783
Month 12 = 6111084
Month 13 = 5925424
Month 14 = 7155515
Month 15 = 5934156
Month 16 = 6506659
Month 17 = 7149383
Month 18 = 7083490
Month 19 = 6971953
Month 20 = 7124599
Month 21 = 7389597
Month 22 = 7560001
Month 23 = 6687919
Month 24 = 7784747
Month 25 = 6095918
Month 26 = 6512360
Month 27 = 6267918
Month 28 = 7470920
Month 29 = 6772277

# ●	Check whether all the zones generate the same amount of sales.

Ho= All the zones have same mean

H1= All the zones doesnt have same mean

alpha= 0.05

In [66]:
f,p=f_oneway(df['Zone - A'],df['Zone - B'],df['Zone - C'],df['Zone - D'])

In [67]:
f

5.672056106843581

In [68]:
p

0.0011827601694503335

In [69]:
print('f-statistic =', round(f,4))
print('P-value =',round(p,4))

f-statistic = 5.6721
P-value = 0.0012

Since P-value<0.05 we can reject the null Hypothesis
So we can conclude that atleast one pair of means of zones are different and hence all zones dont generate same amount of sales

In [82]:
n=df[col].count().sum()
n

116

In [83]:
dfbetween= 3 #k-1=3
dfwithin= 113 #n-k=113

In [90]:


stats.f.ppf(q=0.05, dfn=dfbetween,dfd=dfwithin)

0.11694864387919314

Here also crtical F-value < f-statistic which conclude that H0 can be rejected So we can conclude that atleast one pair of means of zones are different and hence all zones dont generate same amount of sales